.thirdPlace {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.player-area {
  opacity: 0;
  transition: opacity 0.5s ease-in-out 1s;
}

.instruction-area {
  opacity: 0;
  transition: opacity 0.5s ease-in-out 2s;
}

.next-player-area {
  opacity: 0;
  transition: opacity 0.5s ease-in-out 3s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
