.thirdPlace {
  opacity: 0;

  transition: opacity 0.5s ease;
}

.thirdPlaceReveal {
  opacity: 0;

  transition: opacity 0.5s ease 1s;
}

.secondPlace {
  opacity: 0;

  transition: opacity 0.5s ease 2s;
}

.secondPlaceReveal {
  opacity: 0;

  transition: opacity 0.5s ease 3s;
}

.firstPlace {
  opacity: 0;

  transition: opacity 0.5s ease 4s;
}

.firstPlaceReveal {
  opacity: 0;

  transition: opacity 0.5s ease 5.5s;
}

.buttonsReveal {
  opacity: 0;

  transition: opacity 0.5s ease 5.5s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
